SCRAPER_SUPABASE_URL=https://eqfaccwnodxzxniqmvkh.supabase.co
SCRAPER_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxZmFjY3dub2R4enhuaXFtdmtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5Nzc3MDksImV4cCI6MjA5MDU1MzcwOX0.zMvQ0EdcvZUwWTgNLL-brhR32eaHubvmts0HVlzOofc
SCRAPER_REQUEST_TIMEOUT_MS=15000
SCRAPER_MAX_HOUSES=10
SCRAPER_CONCURRENCY=2
